table {
	color: black;
	width:100%;
	margin: 0 0;
	padding: 0 0;	
	}

.Table 
{
	margin-top: 60px;
	border:2px solid #b3b3b3;
	border-collapse:collapse;
}

.Table .TableNameOfCountry
{
	padding: 10px 27px;
	font-size:22px;
	line-height:1.66667;
	text-align: center;
	background-color:#cfefef;
	border:2px solid #a7a7a7;
}

.Table .tableRow{
	vertical-align:baseline;
}
	
.Table .tableMain{
	width: 20.5%;
}

.Table .tableAssistance{
	width: 28%;
}

.Table .tableSelf-assessment{
	width: 32%;
}

.Table .tableComments{
	width: 10%;
}

.Table .tableHeadingLeft{
	width: 10%;
}
	
	
.Table .tableHeading{
	padding-left: 10px;
	padding-right: 10px;
	font-size:16px;
	line-height:1.66667;
	text-align: center;
	background-color:#e0e4fc;
	border:2px solid #a7a7a7;
	}


.Table .tableData{
	padding: 19px 28px;
	font-size:16px;
	line-height:1.36364;
	font-weight:500;
	border: 2px solid #a7a7a7;
	}
	
.Table .tableData:hover{
	background-color: #fcfbde;
}

.Table .tableHeading:hover
{
	background-color: #b8c2f9;
	cursor: pointer;
}




/**/

.buttonSupport{
  position: relative;
  display: inline-block;

  background: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  
  color: #f2e602;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05em;
}
  
.spanSupport {
	color: light-yellow;
    position: relative;
    z-index: 1;
    display: block;
    min-width: 1em;
    padding: 1em;
	background-color: #0b4db7;
    border-radius: 2em;
    border: 1px solid darken($black, 5%);
    box-shadow: -5px 5px 10px rgba(0,0,0,0.2);
    transition: transform .1s, box-shadow .2s;
  }
  
 .spanSupport::after {
    content: '';
    position: absolute;
    top: -1em;
    bottom: -1em;
    left: -1em;
    right: -1em;
    border-radius: 4em;
    box-shadow: 0 0 0px rgba(0,0,0,0.2),
	inset 0 0 0px rgba(0,0,0,0.2);
    transition: box-shadow .1s;
  }
  
.spanSupport:hover
{
	background-color: #1c3968;
}
.spanSupport:focus {
      background-color: yellow;
	  transform: scale(0.9);
  }

.spanSupport:active {
      background-color: $orange;
      transform: scale(0.9);
      box-shadow: -2px 2px 5px rgba(0,0,0,0.2);
    }
.wrap {
  margin-top: 10px;
  width: 100%;
  text-align: right;
}