﻿@model Counties.Region

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Region</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartyToTheConvention)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartyToTheConvention)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComponentAithority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComponentAithority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FocalPoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FocalPoint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPointsToLANSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPointsToLANSystem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParticipationInCOPs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParticipationInCOPs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemberOfSubsidiary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberOfSubsidiary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FactFinding_AwarenessRaisingMissions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FactFinding_AwarenessRaisingMissions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImplementationReports)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImplementationReports)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelfAssessment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelfAssessment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActionPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActionPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssistanceProgrammeActivities)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssistanceProgrammeActivities)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherCapacityBuildingActivities)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherCapacityBuildingActivities)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConclusionsAndRecommendations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConclusionsAndRecommendations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpcomingActivities)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpcomingActivities)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelfAssessment_ActionPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelfAssessment_ActionPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments_Analysis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments_Analysis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactsWithCountry_ConclusionsFromTele)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactsWithCountry_ConclusionsFromTele)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EngagementStrategy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EngagementStrategy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FollowUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowUp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
