﻿@model Counties.Region

<table class="Table">
	<tr class="tableRow">
		<td class="TableNameOfCountry" colspan=6>@Html.DisplayFor(model => model.Name)</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading tableMain" colspan=2><b>Main information</b></td>
		<td class="tableHeading tableAssistance"><b>Assistance Programme activities</b></td>
		<td class="tableHeading tableSelf-assessment"><b>Self-assessment and action plan</b></td>
		<td class="tableHeading tableComments"><b>Comments/ Analysis </b></td>
		<td class="tableHeading tableEngagements"><b>Engagement strategy</b></td>
	</tr>
	<tr class="table__row">
		<td class="tableHeading tableHeadingLeft"><b>Party to the Convention</b></td>
		<td class="tableData">@Html.DisplayFor(model => model.PartyToTheConvention)</td>
		<td class="tableData" rowspan=2>@Html.DisplayFor(model => model.AssistanceProgrammeActivities)</td>
		<td class="tableData" rowspan=2>@Html.DisplayFor(model => model.SelfAssessment_ActionPlan)</td>
		<td class="tableData" rowspan=9>@Html.DisplayFor(model => model.Comments_Analysis)</td>
		<td class="tableData" rowspan=2>@Html.DisplayFor(model => model.EngagementStrategy)</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Competent Authority</b></td>
		<td class="tableData">@Html.DisplayFor(model => model.ComponentAithority)</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading" rowspan="2"><b>Focal Point</b></td>
		<td class="tableData" rowspan="2">@Html.DisplayFor(model => model.FocalPoint)</td>
		<td class="tableHeading"><b>Other capacity building activities</b></td>
		<td class="tableData" rowspan=11>@*Вставка таблицы*@Must insert the table</td>
		<td class="tableHeading" rowspan="2"><b>Required follow-up</b></td>
	</tr>
	<tr>
		<td class="tableData">@Html.DisplayFor(model => model.OtherCapacityBuildingActivities)</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Contact Points to IAN System</b></td>
		<td class="tableData">@Html.DisplayFor(model => model.ContactPointsToLANSystem)</td>
		<td class="tableHeading"><b>Conclusions and recommendations from previous capacity building activities under the Assistance Programme</b></td>
		<td class="tableData" rowspan="9">@Html.DisplayFor(model => model.FollowUp)</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Participation in COPs</b></td>
		<td class="tableData">@Html.DisplayFor(model => model.ParticipationInCOPs)</td>
		<td class="tableData" rowspan="6">@Html.DisplayFor(model => model.ConclusionsAndRecommendations)</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Member of a subsidiary </b></td>
		<td class="tableData">@Html.DisplayFor(model => model.MemberOfSubsidiary)</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>body</b></td>
		<td class="tableData">@Html.DisplayFor(model => model.Body)</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Fact-finding missions / awareness raising missions </b></td>
		<td class="tableData">@Html.DisplayFor(model => model.FactFinding_AwarenessRaisingMissions)</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Implementation reports</b></td>
		<td class="tableData">@Html.DisplayFor(model => model.ImplementationReports)</td>
		<td class="tableHeading"><b>Contacts with country/ Conclusions from telefonconferences</b></td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Self-assessment</b></td>
		<td class="tableData">@Html.DisplayFor(model => model.SelfAssessment)</td>
		<td class="tableData" rowspan="3">@Html.DisplayFor(model => model.ContactsWithCountry_ConclusionsFromTele)</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading" rowspan="2"><b>Action Plan</b></td>
		<td class="tableData" rowspan="2">@Html.DisplayFor(model => model.ActionPlan)</td>
		<td class="tableHeading">
			<b>Upcoming activities</b>
		</td>
	</tr>
	<tr class="tableRow">
		<td class="tableData">@Html.DisplayFor(model => model.UpcomingActivities)</td>
	</tr>
</table>

<div>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="buttonSupport"><span class="spanSupport">Edit</span></a> |
	<a asp-action="Index" class="buttonSupport"><span class="spanSupport">Back to List</span></a>
</div>
