﻿@model Counties.Region

<h4>Region</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartyToTheConvention" class="control-label"></label>
                <input asp-for="PartyToTheConvention" class="form-control" />
                <span asp-validation-for="PartyToTheConvention" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComponentAithority" class="control-label"></label>
                <input asp-for="ComponentAithority" class="form-control" />
                <span asp-validation-for="ComponentAithority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FocalPoint" class="control-label"></label>
                <input asp-for="FocalPoint" class="form-control" />
                <span asp-validation-for="FocalPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPointsToLANSystem" class="control-label"></label>
                <input asp-for="ContactPointsToLANSystem" class="form-control" />
                <span asp-validation-for="ContactPointsToLANSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipationInCOPs" class="control-label"></label>
                <input asp-for="ParticipationInCOPs" class="form-control" />
                <span asp-validation-for="ParticipationInCOPs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberOfSubsidiary" class="control-label"></label>
                <input asp-for="MemberOfSubsidiary" class="form-control" />
                <span asp-validation-for="MemberOfSubsidiary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FactFinding_AwarenessRaisingMissions" class="control-label"></label>
                <input asp-for="FactFinding_AwarenessRaisingMissions" class="form-control" />
                <span asp-validation-for="FactFinding_AwarenessRaisingMissions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImplementationReports" class="control-label"></label>
                <input asp-for="ImplementationReports" class="form-control" />
                <span asp-validation-for="ImplementationReports" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelfAssessment" class="control-label"></label>
                <input asp-for="SelfAssessment" class="form-control" />
                <span asp-validation-for="SelfAssessment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionPlan" class="control-label"></label>
                <input asp-for="ActionPlan" class="form-control" />
                <span asp-validation-for="ActionPlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssistanceProgrammeActivities" class="control-label"></label>
                <input asp-for="AssistanceProgrammeActivities" class="form-control" />
                <span asp-validation-for="AssistanceProgrammeActivities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherCapacityBuildingActivities" class="control-label"></label>
                <input asp-for="OtherCapacityBuildingActivities" class="form-control" />
                <span asp-validation-for="OtherCapacityBuildingActivities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConclusionsAndRecommendations" class="control-label"></label>
                <input asp-for="ConclusionsAndRecommendations" class="form-control" />
                <span asp-validation-for="ConclusionsAndRecommendations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpcomingActivities" class="control-label"></label>
                <input asp-for="UpcomingActivities" class="form-control" />
                <span asp-validation-for="UpcomingActivities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelfAssessment_ActionPlan" class="control-label"></label>
                <input asp-for="SelfAssessment_ActionPlan" class="form-control" />
                <span asp-validation-for="SelfAssessment_ActionPlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments_Analysis" class="control-label"></label>
                <input asp-for="Comments_Analysis" class="form-control" />
                <span asp-validation-for="Comments_Analysis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactsWithCountry_ConclusionsFromTele" class="control-label"></label>
                <input asp-for="ContactsWithCountry_ConclusionsFromTele" class="form-control" />
                <span asp-validation-for="ContactsWithCountry_ConclusionsFromTele" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngagementStrategy" class="control-label"></label>
                <input asp-for="EngagementStrategy" class="form-control" />
                <span asp-validation-for="EngagementStrategy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FollowUp" class="control-label"></label>
                <input asp-for="FollowUp" class="form-control" />
                <span asp-validation-for="FollowUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

