﻿@model IEnumerable<Counties.Region>
@{
	ViewBag.Title = "All regions";
}
<table class="table">
	<tr><td>Country</td></tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td>
				<a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
	}
</table>
<a asp-action="Create">Add region</a>