﻿@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
	ViewData["Title"] = "Sample Table";
}

<table class="Table">
	<tr class="tableRow">
		<td class="TableNameOfCountry" colspan=6>KYRGYZSTAN</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading tableMain" colspan=2><b>Main information</b></td>
		<td class="tableHeading tableAssistance"><b>Assistance Programme activities</b></td>
		<td class="tableHeading tableSelf-assessment"><b>Self-assessment and action plan</b></td>
		<td class="tableHeading tableComments"><b>Comments/ Analysis </b></td>
		<td class="tableHeading tableEngagements"><b>Engagement strategy</b></td>
	</tr>
	<tr class="table__row">
		<td class="tableHeading tableHeadingLeft"><b>Party to the Convention</b></td>
		<td class="tableData">NO</td>
		<td class="tableData" rowspan=2>some text 1</td>
		<td class="tableData" rowspan=2>some text 2</td>
		<td class="tableData" rowspan=9>some text 3</td>
		<td class="tableData" rowspan=2>some text 4</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Competent Authority</b></td>
		<td class="tableData">some text 5</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading" rowspan="2"><b>Focal Point</b></td>
		<td class="tableData" rowspan="2">some text 6</td>
		<td class="tableHeading"><b>Other capacity building activities</b></td>
		<td class="tableData" rowspan=11>@*Вставка таблицы*@Must insert the table</td>
		<td class="tableHeading" rowspan="2"><b>Required follow-up</b></td>
	</tr>
	<tr>
		<td class="tableData">some text 7</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Contact Points to IAN System</b></td>
		<td class="tableData">some text 8</td>
		<td class="tableHeading"><b>Conclusions and recommendations from previous capacity building activities under the Assistance Programme</b></td>
		<td class="tableData" rowspan="9">some text 9</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Participation in COPs</b></td>
		<td class="tableData">some text 10</td>
		<td class="tableData" rowspan="6">some text 11</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Member of a subsidiary </b></td>
		<td class="tableData">some text 12</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>body</b></td>
		<td class="tableData">some text 13</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Fact-finding missions / awareness raising missions </b></td>
		<td class="tableData">some text 14</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Implementation reports</b></td>
		<td class="tableData">some text 15</td>
		<td class="tableHeading"><b>Contacts with country/ Conclusions from telefonconferences</b></td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading"><b>Self-assessment</b></td>
		<td class="tableData">some text 16</td>
		<td class="tableData" rowspan="3">some text 17</td>
	</tr>
	<tr class="tableRow">
		<td class="tableHeading" rowspan="2"><b>Action Plan</b></td>
		<td class="tableData" rowspan="2">some text 18</td>
		<td class="tableHeading">
			<b>Upcoming activities</b>
		</td>
	</tr>
	<tr class="tableRow">
		<td class="tableData">some text 19</td>
	</tr>
</table>